/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 500px;
  width: 300px;
  padding: 30px;
  border-radius: 25px;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
}
.prg-line {
  font-family: 'Roboto';
  font-weight: bold;
}
.btn {
  background-color: #e2a139;
  border: none;
  color: #a35200;
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
}
.result {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  height: 150px;
  width: 150px;
}
.count {
  margin: 10px;
}
